$dark: #d28c45;
$light: #ffcf9f;

.square-shadow {
  position: absolute;
  inset: 50%;
  background-color: rgba(146, 104, 217, 0.89);
  transform: translate(-50%, -50%);
  z-index: 3;

  &-circle {
    height: 25%;
    width: 25%;
    border-radius: 100px;
  }
  &-full {
    height: 100%;
    width: 100%;
  }
}

.num-col {
  font-weight: bold;
  position: absolute;
  left: 2px;
  top: -2px;
  font-size: 8px;
}

.num-row {
  font-weight: bold;
  position: absolute;
  right: 3px;
  bottom: -4px;
  font-size: 8px;
}

.board {
  max-width: 500px;

  .square {
    position: relative;
    aspect-ratio: 1 / 1;
    width: 100%;
  }

  .piece {
    position: absolute;
    padding: 3px;
    width: 100%;
    height: 100%;
    z-index: 1;

    &.cdk-drag-dragging {
      z-index: 4;
    }
  }

  .dark {
    background-color: $dark;
    color: $light;
  }

  .light {
    background-color: $light;
    color: $dark;
  }
}

img:hover {
  cursor: pointer;
}
