$light: #ffcf9f;
$dark: #d28c45;
$accent: #964900;

:host {
  display: block;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  max-width: 700px;

  .square {
    position: relative;
    aspect-ratio: 1 / 1;
    width: 100%;

    &-hover {
      border: 3px solid rgba(52, 42, 36, 0.4);
    }
  }

  .piece {
    position: absolute;
    padding: 3px;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: grab;

    &.cdk-drag-dragging {
      z-index: 4;
    }
  }

  .dark {
    background-color: $dark;
    color: $light;
  }

  .light {
    background-color: $light;
    color: $dark;
  }

  .accent {
    background-color: $accent;
  }
}

img:hover {
  cursor: pointer;
}

.square-shadow-circle {
  position: absolute;
  inset: 50%;
  background-color: rgba(52, 42, 36, 0.3);
  transform: translate(-50%, -50%);
  z-index: 3;
  height: 25%;
  width: 25%;
  border-radius: 100px;
}
.square-shadow-corners {
  position: absolute;
  border: 3px solid rgba(52, 42, 36, 0.4);
  height: 100%;
  width: 100%;
  border-radius: 0;
}

.num-col {
  font-weight: bold;
  position: absolute;
  left: 2px;
  top: -2px;
  font-size: 8px;
}
.num-row {
  font-weight: bold;
  position: absolute;
  right: 3px;
  bottom: -4px;
  font-size: 8px;
}
