<div class="mt-10 mx-auto w-fit">
  <mat-card class="mx-5">
    <mat-card-header>
      <div class="flex w-full items-center justify-center gap-2">
        <div class="md:shrink max-w-12 max-h-12 pb-1">
          <img class="w-full h-full" src="assets/knight_wh.svg" alt="" />
        </div>
        <div class="shrink-0 my-4 md:text-4xl text-3xl text-center font-mono font-bold white">
          Choose Game Mode
        </div>
      </div>
    </mat-card-header>

    <mat-card-content>
      <mat-divider class="pb-5"></mat-divider>

      <div class="flex flex-col gap-4 px-2 pb-4">
        <app-icon-fab
          matIcon="public"
          label="Play online"
          secondaryText="Challenge another player to a game"
        ></app-icon-fab>

        <app-icon-fab
          matIcon="person"
          label="Play with a friend"
          secondaryText="Challenge a friend to a chess match"
        ></app-icon-fab>

        <app-icon-fab
          iconSrc="assets/rook_wh_icon.svg"
          label="Chess puzzle"
          secondaryText="Solve chess puzzles and improve your skills"
        ></app-icon-fab>
      </div>
    </mat-card-content>
  </mat-card>
</div>
