<div class="board my-2">
  @for (row of $chessBoard(); track row; let lastRow = $last) {
    @for (square of row; track square; let firstCol = $first) {
      <div
        class="square"
        [ngClass]="{
          dark: square.isDark,
          light: !square.isDark,
          accent: square === $draggedSquare(),
          dragging: !!$draggedSquare(),
        }"
      >
        @if (canMoveTo(square)) {
          <div
            [ngClass]="{
              'square-shadow-circle': !square.piece,
              'square-shadow-corners': !!square.piece,
            }"
          ></div>
        }

        <ng-container>
          @if (firstCol) {
            <span class="num-col">{{ square.pos.row + 1 }}</span>
          }
          @if (lastRow) {
            <span class="num-row">{{ rowLetters[square.pos.col] }}</span>
          }
        </ng-container>

        @if (square.piece) {
          @if (pieceDraggable(square.piece)) {
            <app-chess-piece
              class="piece"
              [piece]="square.piece"
              cdkDrag
              (cdkDragStarted)="onPieceDrag(square)"
              (cdkDragEnded)="onPieceDrop($event, square)"
              [cdkDragFreeDragPosition]="
                $dragPositions()[square.pos.row * chessBoardDim + square.pos.col]
              "
            ></app-chess-piece>
          } @else {
            <app-chess-piece class="piece" [piece]="square.piece"></app-chess-piece>
          }
        }
      </div>
    }
  }
</div>
