<div class="px-5 mt-10 w-full">
  <mat-card class="w-full p-4">
    <mat-card-header>
      <div class="flex w-full items-center justify-center gap-3">
        <div class="mb-5 text-3xl text-center font-mono font-bold white">Sign in</div>
      </div>
    </mat-card-header>

    <mat-card-content>
      <mat-divider class="pb-5"></mat-divider>

      <form [formGroup]="form" class="flex flex-col gap-3 w-full">
        <mat-form-field>
          <mat-label>Login</mat-label>
          <input formControlName="login" matInput autocomplete="username" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            formControlName="password"
            matInput
            type="password"
            autocomplete="current-password"
          />
        </mat-form-field>

        <button (click)="signIn()" matButton="filled">Sign in</button>

        <div class="mt-3 mb-2 flex items-center justify-center">
          <span> Don't have an account?</span>
          <button class="ml-1" (click)="goToRegister()" matButton>Sign up</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
