<app-custom-card class="moves md:mt-2 max-h-full w-full md:min-w-full">
  <div class="flex-1 py-3 px-4 text-center" header>Moves</div>

  <div class="flex-2 overflow-y-scroll text-left font-medium self-stretch">
    <table class="w-full">
      <tr>
        <th class="w-1/4"></th>
        <th></th>
        <th></th>
      </tr>
      @for (move of $moves(); track move; let index = $index) {
        <tr [class.mat-bg-surface-container]="index % 2 === 0">
          <td class="mat-text-on-surface-variant">
            <span class="w-0.5">{{ index + 1 }}.</span>
          </td>
          <td>{{ move.from }}</td>
          <td>{{ move.to }}</td>
        </tr>
      }
    </table>
  </div>
</app-custom-card>
