<div class="px-1 mt-10 w-full">
  <mat-card class="w-full p-4">
    <div class="p-2">
      <div class="flex mb-7">
        <div style="border-radius: 100000px" class="mr-5 w-20 overflow-hidden">
          <img class="object-cover w-full h-full" src="assets/mao.jpg" alt="" />
        </div>
        <div class="text-3xl font-mono font-bold white">{{ $username() }}</div>
      </div>

      <mat-divider class="pb-5"></mat-divider>

      <h2 class="font-mono text-2xl">Game History</h2>
    </div>
  </mat-card>
</div>
