<div class="pt-5">
  <app-custom-card class="w-full py-4" [showDivider]="false">
    <div class="px-4 flex">
      <app-round-icon class="mr-5 w-20" imgSrc="assets/testing/mao.jpg"></app-round-icon>
      <div class="text-3xl font-mono font-bold">{{ $username() }}</div>
    </div>
  </app-custom-card>

  <app-custom-card class="mt-5 w-full" [showDivider]="false">
    <div class="py-3 px-4" header>Game History ({{ $gameHistory().length }})</div>

    <table class="w-full mb-1">
      <tr>
        <th class="text-left">Against</th>
        <th class="text-center">Result</th>
        <th>Moves</th>
        <th class="text-end"></th>
      </tr>

      @for (entry of $gameHistory(); track entry) {
        <tr>
          <td>
            <div class="flex gap-2 items-center">
              <app-round-icon class="w-5 h-5" imgSrc="assets/testing/mao.jpg"> </app-round-icon>
              <span>{{ entry.username }}</span>
            </div>
          </td>
          <td
            class="text-center"
            [class.text-green-600]="entry.result === 'Won'"
            [class.text-red-600]="entry.result === 'Lost'"
            [class.text-yellow-600]="entry.result === 'Draw'"
          >
            {{ entry.result }}
          </td>
          <td class="text-center">{{ entry.moves }}</td>
          <td class="text-end">{{ entry.date | date: 'dd.MM.yy, h:mm a' }}</td>
          <div class="my-5"><mat-divider></mat-divider></div>
        </tr>
      }
    </table>
  </app-custom-card>
</div>
