:host {
  display: block;
  max-width: 500px;
  margin: 0 auto;

  td,
  th {
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
  }

  th {
    background: var(--mat-sys-surface-container-low);
    padding: 5px 10px;
    margin-right: 10px;
    border-bottom: 1px solid #ffffff1e;
  }
  tr:not(:last-of-type) {
    border-bottom: 1px solid #ffffff1e;
  }
  td {
    padding-bottom: 15px;
    padding-top: 15px;
  }

  td:last-of-type,
  th:last-of-type {
    padding-right: 20px;
  }
  td:first-of-type,
  th:first-of-type {
    padding-left: 20px;
  }
}
